<!DOCTYPE html>
<html lang="ja" xmlns:th="http://wwww.thymeleaf.org">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>
<STYLE type="text/css">
<!--
TABLE {
	margin: auto;
	top: 100px;
	left: 100px;
	height: 400px;
	bottom: 100px;
}

-->
li {
	display: inline;
}
</STYLE>

</head>
<body>


	<div class="navbar-header">
		<br>
		<div style="text-align: center;">
			<font size=5>野球データサイト</font>
		</div>
		<div style="text-align: right;">
			<font size="4"><span
				th:text="'今日の日付:'+${#dates.format(today,'yyyy年M月dd日')}"></span></font>
		</div>
		<nav>
			<ul>
				<li><a th:href="@{/}">トップページ</a></li>
				<li><a th:href="@{/ranking/showRanking}">順位表</a></li>
			</ul>

		</nav>
	</div>


	<font size="5"><div style="text-align: center;"
			th:text="${#dates.format(date,'yyyy年M月dd日')}+'現在の順位表'"></div></font>
	<div style="text-align: center;">
		<h2>セリーグの順位表</h2>

		<table border="1">
			<tbody>
				<tr>
					<th style="width: 50px;"><div style="text-align: center;">順位</div></th>
					<th style="width: 150px;"><div style="text-align: center;">チーム名</div></th>
					<th style="width: 50px;"><div style="text-align: center;">勝</div></th>
					<th style="width: 50px;"><div style="text-align: center;">負</div></th>
					<th style="width: 50px;"><div style="text-align: center;">分</div></th>
					<th style="width: 70px;"><div style="text-align: center;">ゲーム差</div></th>


				</tr>
				<tr th:each="central:${centralLeagueRankingList}">
					<td><div th:text="${central.rank}"></div></td>
					<td><a th:text="${central.teamName}"
						th:href="@{'/teamDetail/show?teamName='+${central.teamName}}"></a></td>
					<td><div th:text="${central.win}"></div></td>
					<td><div th:text="${central.lose}"></div></td>
					<td><div th:text="${central.drow}"></div></td>
					<td><div th:text="${central.Difference}"></div></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<br>
	<div style="text-align: center;">
		<h2>パリーグの順位表</h2>
		<table border="1">
			<tbody>
				<tr>
					<th style="width: 50px;"><div style="text-align: center;">順位</div></th>
					<th style="width: 150px;"><div style="text-align: center;">チーム名</div></th>
					<th style="width: 50px;"><div style="text-align: center;">勝</div></th>
					<th style="width: 50px;"><div style="text-align: center;">負</div></th>
					<th style="width: 50px;"><div style="text-align: center;">分</div></th>
					<th style="width: 70px;"><div style="text-align: center;">ゲーム差</div></th>


				</tr>
				<tr th:each="pacific:${pacificLeagueRankingList}">
					<td><div th:text="${pacific.rank}"></div></td>
					<td><a th:text="${pacific.teamName}"
						th:href="@{'/teamDetail/show?teamName='+${pacific.teamName}}"></a></td>
					<td><div th:text="${pacific.win}"></div></td>
					<td><div th:text="${pacific.lose}"></div></td>
					<td><div th:text="${pacific.drow}"></div></td>
					<td><div th:text="${pacific.Difference}"></div></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<br>

</body>
</html>