<!DOCTYPE html>
<html lang="ja" xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<STYLE type="text/css">
<!--
TABLE {
	margin: auto;
	top: 50px;
	width: 1000px;
	height: 100px;
}

li {
	display: inline;
}
-->
</STYLE>
</head>
<body>


	<div class="navbar-header">
		<br>
		<div style="text-align: center;">
			<font size=5>野球データサイト</font>
		</div>
		<div style="text-align: right;">
			<font size="4"><span
				th:text="'今日の日付:'+${#dates.format(today,'yyyy年M月dd日')}"></span></font>
		</div>
		<nav>
			<ul>
				<li><a th:href="@{/}">トップページ</a></li>
				<li><a th:href="@{/ranking/showRanking}">順位表</a></li>
			</ul>

		</nav>
	</div>



	<h2 style="text-align: center;" th:text="${teamDetail.teamName}+'の詳細'"></h2>
	<h3 style="text-align: center;"
		th:text="'今日の日付:'+${#dates.format(date,'yyyy年M月dd日')}+'現在'"></h3>
	<div style="text-align: center;">
		<table border="1">
			<tbody>
				<tr>
					<th>
						<div>順位</div>
					</th>
					<th>
						<div>勝</div>
					</th>
					<th>
						<div>負</div>
					</th>
					<th>
						<div>分</div>
					</th>
					<th>
						<div>試合数</div>
					</th>
					<th>
						<div>勝率</div>
					</th>
					<th>
						<div>得点</div>
					</th>
					<th>
						<div>失点</div>
					</th>
					<th>
						<div>ホームラン</div>
					</th>
					<th>
						<div>盗塁</div>
					</th>
					<th>
						<div>チーム打率</div>
					</th>
					<th>
						<div>チーム防御率</div>
					</th>
					<th>
						<div>残り試合数</div>
					</th>
				</tr>
				<tr>
					<td>
						<div th:text="${teamDetail.rank}"></div>
					</td>
					<td>
						<div th:text="${teamDetail.win}"></div>
					</td>
					<td>
						<div th:text="${teamDetail.lose}"></div>
					</td>
					<td>
						<div th:text="${teamDetail.drow}"></div>
					</td>
					<td>
						<div th:text="${teamDetail.game}"></div>
					</td>
					<td>
						<div
							th:text="${#numbers. formatDecimal(teamDetail.winRate,0,'COMMA',3,'POINT')}"></div>
					</td>
					<td>
						<div th:text="${teamDetail.score}"></div>
					</td>
					<td>
						<div th:text="${teamDetail.goal}"></div>
					</td>
					<td>
						<div th:text="${teamDetail.homerun}"></div>
					</td>
					<td>
						<div th:text="${teamDetail.steal}"></div>
					</td>
					<td>
						<div
							th:text="${#numbers. formatDecimal(teamDetail.battingAverage,0,'COMMA',3,'POINT')}"></div>
					</td>
					<td>
						<div
							th:text="${#numbers. formatDecimal(teamDetail.defenceRate,1,'COMMA',2,'POINT')}"></div>
					</td>
					<td>
						<div th:text="${teamDetail.remaindingMatch}"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
<br>
<br>
<br>

<h3 style="text-align: center;">試合結果</h3>
<table border="1">
	<tbody>
		<tr>
			<th>
				<div>日付</div>
			</th>
			<th>
				<div>勝敗</div>
			</th>
			<th>
				<div>スコア</div>
			</th>
			<th>
				<div>対戦相手</div>
			</th>
			<th>
				<div>球場</div>
			</th>
		</tr>
		<tr th:each="resultGame:${teamResultGameList}">
			<td>
				<div th:text="${#dates.format(resultGame.date,'yyyy年M月dd日')}"></div>
			</td>
			<td><span th:text="${resultGame.winOrLose}"></span></td>
			<td>
				<div th:text="${resultGame.score1}+'-'+${resultGame.score2}"></div>
			</td>
			<td>
				<div th:text="${resultGame.opponent}"></div>
			</td>
			<td>
				<div th:text="${resultGame.stadium}"></div>
			</td>

		</tr>
	</tbody>
</table>

<!-- 
<div th:each="winOrLose:${winOrLoseList}">
	<span th:text="${winOrLose}"></span>
	<div th:each="oppounent:${oppounentList}">
					<span th:text="${oppounent}"></span>
				</div>
 -->
<h3 style="text-align: center;">順位遷移</h3>
<canvas id="myLineChart"></canvas>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script>
  var ctx = document.getElementById("myLineChart");
  var rank=[ [(${rank})] ];
  //var gameDate=[ [(${gameDate})] ];
  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['23','24','25'],
      datasets: [
        {
          label: '順位',
          data: rank,
          borderColor: "rgba(255,0,0,1)",
          backgroundColor: "rgba(0,0,0,0)",
          lineTension: 0,
        },
      ],
    },
    options: {
      title: {
        display: true,
        text: ''
      },
      scales: {
        yAxes: [{
          ticks: {
        	reverse: true,
            suggestedMax: 6,
            suggestedMin: 1,
            stepSize: 1,
            callback: function(value, index, values){
              return  value +  '位'
            }
          }
        }]
      },
    }
  });
  </script>

</html>